<div class="container">
  <div class="row m-b-lg">
    <div class="col-lg-12 text-center" id="i18_publications">
      <div class="navy-line"></div>
      <h1><span data-i18n="publications.my_publications">My Publications</span></h1>
    </div> 
 </div>
  <div class="row">
    <div class="col-lg-12 text-center">
      <p><a href="https://scholar.google.com/citations?user=61wlSEYAAAAJ&hl=en"><i class="fa fa-graduation-cap fa-3x"></i></a></p>
      <p><a href="https://scholar.google.com/citations?user=61wlSEYAAAAJ&hl=en">Google Scholar</i></a></p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">

      <h1>2015</h1>
      <ul style="list-style-type: none">

	<li class="entry">
	  <h2><strong>When is undersampling effective in unbalanced classification tasks?</strong></h2>
          <em>A. Dal Pozzolo</em>, O. Caelen, and G. Bontempi <br/>
	  Machine Learning and Knowledge Discovery in Databases (ECML-PKDD), Porto, Portugal, 2015
          <a href="{{ 'static/pdf/ECML_under_v4.pdf' | prepend: site.baseurl }}">[Paper]</a>
	  <a href="{{ 'static/pdf/ECML_pres.pdf' | prepend: site.baseurl }}">[Slides]</a>
	  <a href="{{ 'static/pdf/ECML_poster_under.pdf' | prepend: site.baseurl }}">[Poster]</a>
	  <!--<a href="http://www.ulb.ac.be//di/map/adalpozz/pdf/ECML_under_v4.pdf">[pdf]</a>-->
	</li>

	<li class="entry">
	  <h2><strong>Calibrating Probability with Undersampling for Unbalanced Classification</strong></h2>
          <em>A. Dal Pozzolo</em>, O. Caelen, R. A Johnson and G. Bontempi <br/>
	  IEEE Symposium Series on Computational Intelligence (SSCI), Cape Town, South Africa, 2015.
          <a href="{{ 'static/pdf/SSCI_calib_final_noCC.pdf' | prepend: site.baseurl }}">[Paper]</a>
	  <!--<a href="{{ 'static/pdf/SSCI_pres.pdf' | prepend: site.baseurl }}">[Slides]</a>-->
	  <a href="http://www.slideshare.net/dalpozz/calibrating-probability-with-undersampling-for-unbalanced-classification">[Slides]</a>	
	  <!--<a href="http://www.ulb.ac.be//di/map/adalpozz/pdf/SSCI_calib_final_noCC.pdf">[pdf]</a>-->
	</li>
	      
	<li class="entry">
	  <h2><strong>Credit Card Fraud Detection and Concept-Drift Adaptation with Delayed Supervised Information</strong></h2>
          <em>A. Dal Pozzolo</em>, G. Boracchi, O. Caelen, C. Alippi and G. Bontempi <br/>
	  International Joint Conference on Neural Networks (IJCNN), Killarney, Ireland, 2015.
          <a href="{{ 'static/pdf/IJCNN2015_final.pdf' | prepend: site.baseurl }}">[Paper]</a>
	  <!--<a href="{{ 'static/pdf/IJCNN_paper_pres.pdf' | prepend: site.baseurl }}">[Slides]</a>-->
	  <a href="http://www.slideshare.net/dalpozz/credit-card-fraud-detection-and-concept-drift-adaptation-with-delayed-supervised-information">[Slides]</a>
	  <!--<a href="http://www.ulb.ac.be//di/map/adalpozz/pdf/IJCNN2015_final.pdf">[pdf]</a>-->
	</li>

      </ul>

      
      <h1>2014</h1>
      <ul style="list-style-type: none">

        <li class="entry">
	  <h2><strong>Learned lessons in credit card fraud detection from a practitioner perspective</strong></h2>
          <em>A. Dal Pozzolo</em>, O. Caelen, Y. Le Borgne, S. Waterschoot, and G. Bontempi <br/>
	  Expert Systems with Applications, vol. 41, no. 10, pp. 4915–4928, 2014.
          <a href="{{ 'static/pdf/FraudDetectionPaper_8.pdf' | prepend: site.baseurl }}">[pdf]</a>
	  <!--<a href="http://www.ulb.ac.be//di/map/adalpozz/pdf/FraudDetectionPaper_8.pdf">[pdf]</a>-->
	</li>
	      
	<li class="entry">
	  <h2><strong>Using HDDT to avoid instances propagation in unbalanced and evolving data streams</strong></h2>
          <em>A. Dal Pozzolo</em>, R. A Johnson, O. Caelen, S. Waterschoot, N. V Chawla, and G. Bontempi <br/>
	  International Joint Conference on Neural Networks (IJCNN), Beijing, China, 2014.
          <a href="{{ 'static/pdf/HDDTstream_WCCI2014.pdf' | prepend: site.baseurl }}">[Paper]</a>
	  <a href="{{ 'static/pdf/HDDT_IJCNN2014_pres.pdf' | prepend: site.baseurl }}">[Slides]</a>
	  <!--<a href="http://www.ulb.ac.be//di/map/adalpozz/pdf/HDDTstream_WCCI2014.pdf">[pdf]</a>-->
	</li>

      </ul>
	    

      <h1>2013</h1>
      <ul style="list-style-type: none">

     	<li class="entry">
	  <h2><strong>Racing for unbalanced methods selection</strong></h2>
          <em>A. Dal Pozzolo</em>, O. Caelen, S. Waterschoot, and G. Bontempi <br/>
	  International Conference on Intelligent Data Engineering and Automated Learning (IDEAL), Hefei, China, 2013.
          <a href="{{ 'static/pdf/Racing_unbalanced_IDEAL.pdf' | prepend: site.baseurl }}">[Paper]</a>
	  <a href="{{ 'static/pdf/presentation.pdf' | prepend: site.baseurl }}">[Slides]</a>
	  <!--<a href="http://www.ulb.ac.be//di/map/adalpozz/pdf/Racing_unbalanced_IDEAL.pdf">[pdf]</a>-->
	</li>
      </ul>

      
      
      <h1>Thesis</h1>
      <ul style="list-style-type: none">

	<li class="entry">
	  <h2><strong>Adaptive Machine Learning for Credit Card Fraud Detection</strong></h2>
	  <em>A. Dal Pozzolo</em>, and G. Bontempi <br/>
	  PhD in Computer Science at Universite Libre de Bruxelles, 2015
          <a href="{{ 'static/pdf/Dalpozzolo2015PhD.pdf' | prepend: site.baseurl }}">[pdf]</a>
	  <a href="{{ 'static/pdf/Public_pres.pdf' | prepend: site.baseurl }}">[Slides]</a>
          <!--<a href="http://www.ulb.ac.be//di/map/adalpozz/pdf/Dalpozzolo2015PhD.pdf">[pdf]</a>-->
	 </li>


	<li class="entry">
	  <h2><strong>Comparison of Data Mining Techniques for Insurance Claim Prediction</strong></h2>
	   <em>A. Dal Pozzolo</em>, G. Moro, and G. Bontempi <br/>
	  Master of Science in Applied Statistics and Actuarial Science at Universita di Bologna, 2011
          <a href="{{ 'static/pdf/Claim_prediction.pdf' | prepend: site.baseurl }}">[pdf]</a>
	  <!--<a href="http://www.ulb.ac.be//di/map/adalpozz/pdf/Claim_prediction.pdf">[pdf]</a>-->
	 </li>

      </ul>

    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
      <p><strong>&copy; {{ 'now' | date: "%Y" }} {{ site.title }}</strong></p>
    </div>
  </div>
</div>
